.swiper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 2000px;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.swiper-slide .img-content {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0px 0px;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 52.8px;
  color: white;
  margin: 55px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
}

.swiper-info {
  box-shadow: 0px 8px 24px 0px #0C29D029;
  height: 430px;
  width: 360px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 40px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 30px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.subtitle-content {
  width: 86px;
  height: 31px;
  border-radius: 16px;
  border: 1px solid #9499B3;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9499B3;
  margin: 23px;
}

.description-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  width: 296px;
  margin: 0px auto 60px auto;
  color: #312F4F;
}

.more-content {
  font-family: 'Soleil', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #42D76B;
  text-decoration: none;
  margin: 30px;
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-pagination-bullet {
  width: 29px;
  height: 29px;
  margin-right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 15px;
}

.swiper-pagination-bullet-active {
  background-color: #4AC959;
}

.swiper-background {
  background-color: #4AC959;
  width: 1080px;
  height: 520px;
  z-index: 200;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #4AC959;
  margin-bottom: 8rem;
}

.swiper {
  margin-top: 10rem;
}

.swiper-decoration {
  width: 49px;
  height: 56px;
  position: absolute;
  right: 5.6rem;
  top: 14.8rem;
}

@media (max-width: 768px) {
  .swiper-background {
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 4rem;
  }

  .heading {
    font-size: 32px;
    line-height: 36px;
    margin: 20px;
    text-align: center;
  }

  .swiper-info {
    height: auto;
    width: 90%;
    margin-bottom: 20px;
  }

  .swiper-container {
    margin-top: 5rem;
  }
}